<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:300px;
        }
        .wd50{
            height:auto;
            width:50%;
        }
        .show-form{
            width: 70%;
            margin: 2rem auto;
        }
    </style>
</th:block>

<div layout:fragment="content" class="show-form">

    <h3>사용자 정보</h3>
    <hr/>
    <div class="card d-flex mb-3" style="text-align: center;">
        <div class="align-self-center w-75" style="text-align: center;">
            <span th:text="'아이디 : ' + ${user.userId}" class="fs24 font-weight-bold"></span>
            <div class="fs18 font-weight-light">
                <span th:text="'사용자 이름 : ' + ${user.name}"></span><br/>
                <span th:text="'현재 보유 포인트 : ' + ${user.currentPoint}"></span><br/>
                <span th:text="'사용자 권한 : '+ ${user.role}"></span><br/>
            </div>
        </div>
    </div>

    <h3>예매 이력</h3>
    <hr/>

    <div th:each="book : ${books.getContent()}">

<!--        <div class="d-flex my-3 align-self-center">-->

<!--            <div class="ml-3">-->
<!--&lt;!&ndash;                <th:block th:if="${order.orderStatus == T(com.shop.constant.OrderStatus).ORDER}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-outline-secondary" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문취소</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;                <th:block th:unless="${order.orderStatus == T(com.shop.constant.OrderStatus).ORDER}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4>(취소 완료)</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                </th:block>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

        <div class="card d-flex my-3">

            <div class="d-flex">
                <div class="repImgDiv">
                    <img th:src="${book.ticketDto.imgUrl}" class = "rounded repImg" th:alt="${book.ticketDto.showName}">
                </div>
                <div class="align-self-center w-75" style="text-align: center;">
                    <h4 th:text="' 주문 날짜 : ' + ${book.bookDate}"></h4>
                    <h4 th:text="' 주문 상태 : ' + ${book.bookStatus}"></h4>
                    <span th:text="${book.ticketDto.showName}" class="fs24 font-weight-bold"></span>
                    <div class="fs18 font-weight-light">
                        <span th:text="${book.ticketDto.showDate}"></span><br/>
                        <span th:text="${book.ticketDto.grade} +'등급'"></span><br/>
                        <span th:text="${book.ticketDto.price} +'원'"></span><br/><br/>
                        <button th:if="${book.bookStatus.toString().equals('BOOKING')}" class="btn btn-danger">예매 취소</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div th:with="start=${(books.number/maxPage)*maxPage + 1}, end=(${(books.totalPages == 0) ? 1 : (start + (maxPage - 1) < books.totalPages ? start + (maxPage - 1) : books.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${books.number eq 0}?'disabled':''">
                <a th:href="@{'/books/' + ${books.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${books.number eq page-1}?'active':''">
                <a th:href="@{'/books/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${books.number+1 ge books.totalPages}?'disabled':''">
                <a th:href="@{'/books/' + ${books.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>


</div>

</html>
