.header {
  position: relative;
  display: flex;
  height: 5rem;
  background-color: white;
}

.header__title {
  flex: 1;
  width: 10rem;
  border: solid red 5px;
}

.header__menu {
  flex: 3;
  width: 10rem;
  border: solid yellow 5px;
}

nav {
  font-size: 20px;
  font-weight: bold;
}

nav li {
  display: inline;
  margin: 0 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.header__user {
  flex: 1;
  width: 10rem;
  border: solid green 5px;
}
