<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
    <div th:fragment="scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const logoutButton = document.getElementById("logoutButton");

            init();

            function init() {
                addEventListener2();
            }

            function addEventListener2() {
                logoutButton.addEventListener("click", () => {
                  logout();
                });
              }

              function logout() {
                axios
                    .post("/logoutt", {

                    })
                    .then((result) => {
                      console.log(result);
                      window.location.href = 'http://localhost:8080/';
                    })
                    .catch((e) => {
                      console.error(e);
                    });
              }
        </script>
    </div>
</body>
</html>