<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
                <a th:href="@{/}" class="navbar-brand" STYLE="color: goldenrod">
                    TicketingWeb
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
                    <li><a th:href="@{/show/movie}" class="nav-link px-2 text-white">Movie</a></li>
                    <li><a th:href="@{/show/play}" class="nav-link px-2 text-white">Play</a></li>
                    <li><a th:href="@{/show/concert}" class="nav-link px-2 text-white">Concert</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')")><a th:href="@{/admin/show/new}" class="nav-link px-2 text-danger">Register</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')")><a th:href="@{/admin/show/management}" class="nav-link px-2 text-danger">Manage</a></li>

                </ul>

                <div sec:authorize="isAuthenticated()" >
                    <a  href="/books"><button type="button" class="btn btn-outline-light me-2">My-Page</button></a>
                </div>
                <div sec:authorize="isAnonymous()" >
                    <a  href="/users/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                </div>
                <div sec:authorize="isAuthenticated()" >
                    <a  href="/users/logout"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
                </div>
            </div>
        </div>
    </header>
</html>