<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="./fragment/head :: head(~{::title})">
    <title>회원 정보</title>
</head>
<body>
<header th:replace="./fragment/header :: header"></header>

<div class="container col-8" id="userInfo">
    <div class="d-grid gap-2 d-md-flex justify-content-end my-2">
        <a th:if="${user.role} == 'admin'" href="/show/register"><button class="btn btn-primary" type="button">공연등록</button></a>
        <a th:if="${user.role} == 'admin'" href="/admin/users.html"><button class="btn btn-primary" type="button">회원관리</button></a>
        <button class="btn btn-danger" type="button" id="delete">회원탈퇴</button>
    </div>
    <div class="row"><h2 class="text-center"><strong>회원 정보</strong></h2></div>
    <div class="container">
        <div class="row" id="userId">아이디 : <div th:text="${user.id}"></div></div>
        <div class="row" id="userCreatedDate">가입일 : <div th:text="${user.created_date}"></div></div>
        <div class="row" id="userCurrentPoint">잔여 포인트 : <div th:text="${user.current_point}"></div></div>

        <br>

        <div class="row">
            <h4 class="text-center">예매 내역</h4>
        </div>

        <div class="row" >

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">공연제목</th>
                    <th scope="col">공연시간</th>
                    <th scope="col">등급</th>
                    <th scope="col">가격</th>
                    <th scope="col">예매시간</th>
                    <th scope="col">상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.size(logs)} > 0" th:each="log : ${logs}">
                    <td th:text="${log.showName}"></td>
                    <td th:text="${log.seat.showDate}"></td>
                    <td th:text="${log.seat.grade}"></td>
                    <td th:text="${log.seat.price}"></td>
                    <td th:text="${log.createdTime}"></td>
                    <td th:text="${log.refunded} ? '환불됨' : (${log.success} ? '당첨' : '대기')"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="./fragment/footer :: footer"></footer>

<div th:replace="./fragment/scripts :: script"></div>
<script src="/js/js_cookie.min.js"></script>
<script src="/js/myPage.js"></script>
</body>
</html>