<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head th:replace="./fragment/head :: head(~{::title})">
        <title th:text="${subject}"></title>
    </head>
<body>
    <header th:replace="./fragment/header :: header"></header>

    <div class="container p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1  th:text="${subject}" class="display-5 text-center fw-bold">${classification}게시판</h1>
          <p class="col-md-8 fs-4" ><br/>전체 목록(<span class="fs-4" th:text="${size}"></span>)</p>
          <hr/>
          
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            
            <div th:each="show:${shows}" class="col mb-3">
              <div class="card h-100 mb-4 rounded-3 shadow-sm">
                <img th:src="@{${show.posterURI}}" class="card-img-top" alt="..." height="200">
                <div class="card-body">
                  <h5 th:text="${show.name}"class="card-title text-start">${show.name}</h5>
                  <p th:text="${show.description}" class="card-text text-start">${show.description}</p>
                  <a th:href="@{/ticketing(showId=${show.id})}">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">예매하기</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <footer th:replace="./fragment/footer :: footer"></footer>

</body>
</html>
